.tablewrap {
  display: flex;
  justify-content: center;
}
.tablebox {
  width: 100%;
}
table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 6px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#refresh {
  width: 33%;
  background-color: rgba(255, 99, 132, 1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
