.tablewrap {
  display: flex;
  justify-content: center;
}
.tablebox {
  width: 100%;
}
table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 6px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
